{% extends 'base.html'%}

{% block content %}
	<html lan="en">
	<h2>Sing Up</h2>
	<form method="post">
		{% csrf_token %}
		{% for field in form %}
			<p>
			{{ field.label_tag}}<br>
			{{ field }}
			{% if field.help_text %}
				<meta charset="utf-8">
				<small style="color: grey"> {{ field.help_text }}</small>
			{% endif %}
			{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
			{% endfor %}
			</p>
		{% endfor %}
		<button type="submit">Sing Up</button>
	</form>
{% endblock %}